#post_content
  %h1= @post.title
  %p= @post.content

  #comment
    %h2
      = @comments.count
      Comments
    - if @comments.count > 0
      = render @comments

    %h3 Reply the thread
    - @comment = @post.comments.build
    = render 'comments/form'

  = link_to 'Back', root_path
  - if @post.user == current_user
    = link_to 'Edit', edit_post_path
    = link_to 'Delete', post_path, method: :delete, data: { confirm: 'Are you sure?' }
