#post_content
  %h1= @post.title
  %p= @post.content

  #comments
    %h2
      = @comments.count
      Comments
    - if @comments.count > 0
      = render @comments

    %h3 Reply the thread
    - @comment = @post.comments.build
    = render 'comments/form'

  - if @post.user == current_user
    %br
    %hr
    %br
    = link_to 'Edit', edit_post_path, class: 'button'
    = link_to 'Delete', post_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button'
