!!! 5
%html
%head
  %title Forum
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

%body
  %header.main_header.clearfix
    .wrapper
      #logo
        %p All Forum
      #buttons
        = link_to "New Post", new_post_path
  .wrapper
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert alert-#{name}"
  .wrapper
    = yield
